.advantages {
  margin: 0;
}

.advantages__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  text-align: center;
  position: relative;
  color: $white;
  background-color: $blue;
  padding: 38px 18px 37px;

  &:first-child {
    padding: 55px 18px 40px;

    &::after {
      content: "";
      display: block;
      width: 100%;
      background-image: url("../img/saw-second.svg");
      position: absolute;
      background-position: bottom;
      background-repeat: no-repeat;
      top: -37px;
      left: 0;
      height: 57px;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }

    @media (min-width: $tablet-width) {
      width: 256px;
      padding: 54px 33px 17px;
      order: 1;
    }

    @media (min-width: $desktop-width) {
      width: 400px;
      padding: 52px 28px 17px;
    }
  }

  &--blue {
    @media (min-width: $tablet-width) {
      width: 256px;
      padding: 52px 33px 31px;
      order: 6;
    }

    @media (min-width: $desktop-width) {
      width: 400px;
      padding: 52px 58px 17px;
    }
  }

  &--gray {
    color: $black;
    background-color: $advantages-bg;
    padding: 25px 32px 26px;

    @media (min-width: $tablet-width) {
      width: 256px;
      padding: 52px 33px;
      order: 7;
    }

    @media (min-width: $desktop-width) {
      width: 400px;
      padding: 63px 23px 0;
    }
  }

  &--specific {
    @media (min-width: $tablet-width) {
      padding: 44px 48px 43px;
    }

    @media (min-width: $desktop-width) {
      padding: 52px 33px;
    }
  }

  &--detail {
    text-align: left;
    position: relative;
    color: $black;
    background-color: $white;
    padding: 32px 18px 0 65px;

    &::before {
      content: "";
      position: absolute;
      display: block;
    }

    @media (min-width: $tablet-width) {
      width: 256px;
      padding: 61px 33px;
      text-align: center;
      order: 4;
    }

    @media (min-width: $desktop-width) {
      width: 400px;
      padding: 92px 24px 71px;
    }
  }

  &--detail-house {
    &::before {
      left: 18px;
      top: 26px;
      width: 39px;
      height: 35px;
      background-image: url("../img/house-logo.svg");
      background-size: 100%;

      @media (min-width: $tablet-width) {
        top: 60px;
        left: 88px;
        width: 77px;
        height: 69px;
      }

      @media (min-width: $desktop-width) {
        left: 159px;
        top: 70px;
      }
    }
  }

  &--detail-food {
    &::before {
      left: 18px;
      top: 26px;
      width: 40px;
      height: 37px;
      background-image: url("../img/food-logo.svg.svg");
      background-size: 100%;

      @media (min-width: $tablet-width) {
        top: 60px;
        left: 88px;
        width: 77px;
        height: 71px;
      }

      @media (min-width: $desktop-width) {
        left: 159px;
        top: 70px;
      }
    }
  }

  &--detail-gift {
    &::before {
      left: 18px;
      top: 24px;
      width: 39px;
      height: 38px;
      background-image: url("../img/gift-logo.svg");
      background-size: 100%;

      @media (min-width: $tablet-width) {
        top: 62px;
        left: 91px;
        width: 78px;
        height: 75px;
      }

      @media (min-width: $desktop-width) {
        left: 159px;
        top: 70px;
      }
    }
  }

  &--pt-small {
    padding-top: 32px;

    @media (min-width: $tablet-width) {
      padding-top: 60px;
      order: 3;
    }

    @media (min-width: $desktop-width) {
      padding-top: 92px;
    }
  }

  &--pb-big {
    padding-bottom: 46px;

    @media (min-width: $desktop-width) {
      padding: 92px 40px 50px;
    }
  }

  &--photo {
    padding: 0;
    height: 260px;
    background-image: url("../img/real-city.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/real-city@2x.jpg");
      background-size: 320px 280px;
    }

    @media (min-width: $tablet-width) {
      width: 512px;
      height: 256px;
      background-image: url("../img/real-city-tablet.jpg");
      order: 2;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/real-city-tablet@2x.jpg");
        background-size: 512px 256px;
      }
    }

    @media (min-width: $desktop-width) {
      width: 800px;
      background-image: url("../img/real-city-desktop.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/real-city-desktop@2x.jpg");
        background-size: 800px 256px;
      }
    }
  }

  &--photo-bridge {
    padding: 0;
    height: 260px;
    background-image: url("../img/devils-bridge.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/devils-bridge@2x.jpg");
      background-size: 320px 280px;
    }

    @media (min-width: $tablet-width) {
      width: 512px;
      height: 256px;
      background-image: url("../img/photo-devils-bridge-tablet.jpg");
      order: 5;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/photo-devils-bridge-tablet@2x.jpg");
        background-size: 512px 256px;
      }
    }

    @media (min-width: $desktop-width) {
      width: 800px;
      background-image: url("../img/photo-devils-bridge-desktop.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/photo-devils-bridge-desktop@2x.jpg");
        background-size: 800px 256px;
      }
    }
  }
}

.advantages__logo {
  position: relative;
}

.advantages__line {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    left: 18px;
    right: 18px;
    height: 1px;
    background-color: $color-decoration-line;

    @media (min-width: $tablet-width) {
      content: normal;
    }
  }
}

.advantages__title {
  margin: 0 0 10px 0;
  word-break: break-all;

  @media (min-width: $desktop-width) {
    padding: 0 65px;
  }

  &--mbig {
    @media (min-width: $desktop-width) {
      margin: 0 0 13px 0;
    }
  }

  &--more {
    text-align: left;
    margin-bottom: 16px;
  }

  &--mb {
    margin-bottom: 16px;

    @media (min-width: $tablet-width) {
      margin-top: 96px;
      margin-bottom: 23px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 77px;
    }
  }

  &--msmall {
    @media (min-width: $tablet-width) {
      margin-top: 91px;
      margin-bottom: 23px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 79px;
    }
  }

  &--gray {
    @media (min-width: $tablet-width) {
      padding: 0 30px;
      margin-bottom: 12px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 88px;
      margin-bottom: 14px;
    }
  }
}

.advantages__number {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0 0 17px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 24px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 23px 0;
  }

  &--mb-big {
    @media (min-width: $tablet-width) {
      margin-bottom: 23px;
      margin-top: 12px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 25px;
    }
  }

  &--gray {
    @media (min-width: $tablet-width) {
      margin-bottom: 23px;
    }
  }
}

.advantages__description {
  margin: 0;

  @media (min-width: $desktop-width) {
    margin: 0 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 35px;
  }

  &--white {
    color: $white;
  }

  &--m-big {
    @media (min-width: $desktop-width) {
      margin: 0 35px;
    }
  }
}

.advantages__photo {
  display: block;
}
