.catalog {
  width: 320px;
}

.catalog__card {
  padding: 25px 20px 25px;
}

.catalog__decoration {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
  }

  &--down:last-child {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      background-color: #e6e6e6;
    }
  }
}

.catalog__photo {
  display: block;

  & img {
    margin-bottom: 11px;
  }
}

.catalog__title {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.catalog__author {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 11px;
  color: #333333;
}

// &__item-photo img {
//   display: block;
// }

.catalog__likes {
  display: flex;
  align-items: baseline;

  & a {
    display: block;
    background-image: url("../img/like-icon.svg");
    background-repeat: no-repeat;
    width: 23px;
    height: 21px;
    margin-right: 14px;
  }

  & span {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }
}
