.checkbox {
  position: relative;
  display: block;
  padding-left: 63px;
  font-weight: 700;
  font-size: 18px;
  line-height: 46px;
  text-align: left;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    width: 46px;
    height: 46px;
    background-color: $color-input;
    border: none;
    border-radius: 4px;
  }

  &:hover::before {
    background-color: $color-focus;
  }

  &:active::before {
    background-color: $color-active;
  }
}

.checkbox__input {
  display: none;
}

.checkbox__input:checked[type="checkbox"]:checked ~ .checkbox__tick {
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;

  &:active {
    opacity: 0.3;
  }
}

.checkbox__tick {
  content: "";
  position: absolute;
  left: 12px;
  top: 15px;
  display: block;
  width: 22px;
  height: 16px;
  border: none;
}
