.copyright {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    margin-left: 8px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 7px;
  }
}


.copyright__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin-right: 12px;
}
