.feedback {
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding: 0 60px;
    display: flex;
    flex-wrap: wrap;
  }
}

.feedback__title {
  text-align: center;
  margin: 0 0 20px;
  padding-top: 24px;
}

.feedback__item {
  position: relative;
  color: $gray;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;

  &:first-child {
    &::before {
      content: "";
      position: absolute;
      top: -70px;
      left: -20px;
      right: -20px;
      display: block;
      height: 1px;
      background-color: $color-decoration-line;

      @media (min-width: $tablet-width) {
        content: normal;
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: -20px;
    right: -20px;
    display: block;
    height: 1px;
    background-color: $color-decoration-line;

    @media (min-width: $tablet-width) {
      content: normal;
    }
  }

  &:nth-last-child(1)::after,
  &:nth-last-child(2)::after {
    display: none;
  }

  @media (min-width: $tablet-width) {
    width: 324px;
  }
}

.feedback__input-text {
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 39px;
  }
}

.feedback__email {
  margin-bottom: 34px;
}

.feedback__checkbox {
  margin-bottom: 17px;

  &--mb {
    margin-bottom: 24px;
  }
}

.feedback__radio {
  margin-bottom: 16px;

  &--mb {
    margin-bottom: 24px;
  }
}

.feedback__button-area {
  padding: 0;
}

.feedback__button {
  padding: 16px 49px;
  margin: 0 0 3px;
  width: 280px;
}

.feedback__required {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: $gray;
  margin: 1px 0 24px;
  text-align: end;
}

.feedback__text-area {
  margin: 0 0 53px;
}
