.find-hotel {
  text-align: center;
  padding: 40px 18px 49px;
}

.find-hotel__title {
  font-size: 21px;
  margin: 0;
}

.find-hotel__button {
  font-size: 21px;
  width: 284px;
  padding-top: 16px;
  padding-bottom: 16px;

  @media (min-width: $tablet-width) {
    width: 458px;
  }
}

.find-hotel__description {
  margin: 22px 0 31px;

  @media (min-width: $tablet-width) {
    padding: 0 166px;
  }
}
