.find-hotel {
  text-align: center;
  padding: 40px 18px 49px;

  &__title {
    font-size: 21px;
    margin: 0;
  }

  &__button {
    font-size: 21px;
    width: 284px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  &__description {
    margin: 22px 0 31px;
  }
}
