.find-hotel {
  text-align: center;
  padding: 40px 18px 49px;

  @media (min-width: $tablet-width) {
    padding: 60px 18px 58px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 94px 67px;
  }
}

.find-hotel__title {
  font-size: 21px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.find-hotel__button {
  font-size: 21px;
  width: 284px;
  padding-top: 16px;
  padding-bottom: 16px;

  @media (min-width: $tablet-width) {
    width: 458px;
  }
}

.find-hotel__description {
  margin: 22px 0 31px;

  @media (min-width: $tablet-width) {
    margin: 33px 0 40px;
    padding: 0 166px;
  }

  @media (min-width: $desktop-width) {
    margin: 33px 0 45px;
  }
}
