.input-text {
  display: flex;
  flex-direction: column;
  border: none;

  span {
    text-align: left;
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    padding-left: 16px;
    margin-bottom: 1px;
    text-transform: uppercase;
  }

  input {
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    width: 100%;
    height: 58px;
    padding: 13px;
    outline: none;
    border: 4px solid transparent;
    background-color: $color-input;

    &:focus {
      border: 4px solid $color-focus;
    }
  }
}
