.main-footer {
  text-align: center;
}

.main-footer__wrapper {
  padding-top: 9px;
  padding-bottom: 23px;

  &--pt-big {
    padding-top: 28px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 60px 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 25px 119px 36px;
  }

  &--catalog {
    @media (min-width: $tablet-width) {
      padding: 36px 44px 36px 60px;
    }

    @media (min-width: $desktop-width) {
      padding: 36px 103px 36px 119px;
    }
  }

  &--form {
    @media (min-width: $tablet-width) {
      padding: 26px 43px 36px 60px;
      justify-content: space-between;
    }

    @media (min-width: $desktop-width) {
      padding: 28px 104px 36px 110px;
    }
  }
}

.main-footer__tag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: $black;
  text-transform: uppercase;
  margin: 0 0 33px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  &--form {
    @media (min-width: $desktop-width) {
      margin-left: 10px;
    }
  }
}

.main-footer__social {
  margin-bottom: 38px;
  fill: $blue;
  color: $black;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 17px;
  }

  &--form {
    margin-bottom: 40px;

    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }
}

.main-footer__social-icon {
  color: $white;

  &:hover {
    color: $white;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
