.main-header {
  position: relative;
  width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 56px;
  color: $black;
  background-color: $white;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.main-header__logo {
  margin: 0 auto;
  height: 56px;
  display: inline-block;
  z-index: 1;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 2;
  }
}
