.main-header {
  position: relative;
  width: 320px;
  margin: 0 auto;
  height: 56px;
  color: $black;
  background-color: $white;
}

.main-header__logo {
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 1;
}
