.main-footer {
  text-align: center;
}

.main-footer__wrapper {
  padding-top: 9px;
  padding-bottom: 23px;

  &--pt-big {
    padding-top: 28px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 26px 0 36px;
  }
}

.main-footer__tag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: $black;
  text-transform: uppercase;
  margin: 0 0 33px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.main-footer__social {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
