.main-container {
  width: 320px;
  margin: 0 auto;
}

.main-container__logo {
  padding: 90px 0 29px;
  background-color: $logo-bg;
  background-image: url("../img/sedona-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 33px;

  &::after {
    content: "";
    display: block;
    width: 100%;
    background-image: url("../img/saw.svg");
    position: relative;
    background-position: bottom;
    background-repeat: no-repeat;
    left: 0;
    height: 57px;
    bottom: -29px;
  }

  &--other {
    padding: 52px 0 10px;
    background-image: url("../img/background-catalog.jpg");
    background-position: bottom;

    &::after {
      content: "";
      display: block;
      width: 100%;
      background-image: url("../img/saw.svg");
      position: relative;
      background-position: bottom;
      background-repeat: no-repeat;
      left: 0;
      height: 57px;
      bottom: -10px;
    }
  }
}

.main-container__logo-img {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
