.radio {
  position: relative;
  display: block;
  padding-left: 61px;
  font-weight: 700;
  font-size: 18px;
  line-height: 46px;
  text-align: left;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    width: 46px;
    height: 46px;
    background-color: $color-input;
    border: 15px solid $color-input;
    border-radius: 50%;
  }
}

.radio__input {
  display: none;
}

.radio__input:checked[type="radio"]:checked ~ .radio__point {
  background-color: $gray;
  border-radius: 50%;
}

.radio__point {
  content: "";
  position: absolute;
  left: 15px;
  top: 15px;
  display: block;
  width: 16px;
  height: 16px;
  border: none;
}
