.video {
  width: 320px;
  margin: 0 auto;
  text-align: center;
}

.video__wrapper {
  padding: 18px 27px 0;
}

.video__title {
  margin: 0 0 27px;
}

.video__description {
  margin: 0 0 38px;
}

.video__player {
  img {
    display: block;
    margin: 0 auto;
  }
}
