.video {
  width: 320px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.video__wrapper {
  padding: 18px 27px 0;

  @media (min-width: $tablet-width) {
    padding: 58px 155px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 58px 169px 0;
  }
}

.video__title {
  margin: 0 0 27px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin: 0 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 34px;
  }
}

.video__description {
  margin: 0 0 38px;

  &--mb {
    @media (min-width: $tablet-width) {
      margin-bottom: 89px;
    }
  }
}

.video__player {
  position: relative;

  @media (min-width: $desktop-width) {
    margin-bottom: 79px;
  }
}

.video__button {
  position: absolute;
  width: 48px;
  height: 54px;
  border: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  background-image: url("../img/play-btn.svg");
}
