$black: #000000;
$gray: #333333;
$white: #ffffff;
$blue: #81b3d2;

$advantages-bg: #eeeeee;
$color-decoration-line: #e6e6e6;
$color-decoration-column: #dbdbdb;
$color-input: #f2f2f2;
$logo-bg: #7295ba;
